﻿#html, body, mainBody {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Open Sans Condensed', sans-serif;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}